#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_EYELASH_CORNE_LEFT
    bool "eyelash_corne left"
    depends on SOC_NRF52840_QIAA

config BOARD_EYELASH_CORNE_RIGHT
    bool "eyelash_corne right"
    depends on SOC_NRF52840_QIAA
